<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIUrl" value="http://localhost:8080/"/>
		<add key="APIUser" value="winform"/>
		<add key="APIPasscode" value="i2MwFvfaXJLNF2EOnFUWfA=="/>
		<add key="APIKey" value="XWl9IVLHoPTMS0ay+14fAF7gW0hO9j6TA6/pQsRc5xxBJXGJJH52JoA/QqNjO5fbyKxrQdkNCPqE6+KSPg+q8Xv1NgQ5lIV5jZAxMDnc0oVWDo9MVnB/EsCY3SWcmtCzxfRUd8HVwft0gfQ4qGAVpA=="/>
	</appSettings>
</configuration>